* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.overall-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.upper-container {
  position: relative;
  display: flex;
  height: 34%;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

/* .command-container {
  position: relative;
  display: flex;
  height: 10%;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
} */

.middle-container {
  position: relative;
  display: flex;
  height: 33%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid black; */
}

.lower-container {
  position: relative;
  display: flex;
  height: 33%;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.incoming-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw;
  height: 80%;
  width: 100%;
  /* background-color: rgb(75, 68, 66); */
  font-size: 6vh;
  font-family: 'Press Start 2P';
  color: rgb(80, 229, 16);
}

.response {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 30%;
  background-color: rgb(75, 68, 66);
  font-size: 6vh;
  font-family: sans-serif;
  color: beige;
}

/* .command-line {
  position: relative;
  text-align: center;
  height: 90%;
  width: 40%;
  font-family: Roboto;
  font-size: 7vh;
  caret-color: black;
} */

.letter-box {
  position: relative;
  display: flex;
  margin-top: 2vh;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: rgb(15, 15, 17);
  height: 8vh;
  width: 8vh;
  font-family: Roboto;
  font-size: 6vh;
  border-radius: 1vh;
  color: white;
  box-shadow: 0 0 1vh 1vh grey;
  /* z-index: 10; */
}

.hidden {
  display: none;
}
