* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.overall-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.upper-container {
  position: relative;
  display: flex;
  height: 34%;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

/* .command-container {
  position: relative;
  display: flex;
  height: 10%;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
} */

.middle-container {
  position: relative;
  display: flex;
  height: 33%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid black; */
}

.lower-container {
  position: relative;
  display: flex;
  height: 33%;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.incoming-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw;
  height: 80%;
  width: 100%;
  /* background-color: rgb(75, 68, 66); */
  font-size: 6vh;
  font-family: 'Press Start 2P';
  color: rgb(80, 229, 16);
  border: solid 2px rgba(80, 229, 16, 0.609);
  box-shadow: 0 0 15px white;
}

.response {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 40%;
  background-color: rgb(75, 68, 66);
  font-size: 6vh;
  font-family: sans-serif;
  color: beige;
}

.typed-response-container {
  position: relative;
  display: flex;
  justify-content: flex-start;

  border: 1px solid rgb(72, 234, 72);
}

.option {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: rgb(65, 60, 58);
}

.response-character-box {
  position: relative;
  display: flex;
  /* border: 1px solid yellow; */
  width: auto;
  text-align: center;
  justify-content: center;
  padding-left: 0.2vw;
  padding-right: 0.2vw;
}

.typed-character-box {
  position: relative;
  display: flex;
  width: auto;
  text-align: center;
  justify-content: center;
  padding-left: 0.2vw;
  padding-right: 0.2vw;
  /* border: 1px solid lime; */
  z-index: 5;
}

.spacer {
  padding-left: 12px;
  padding-right: 12px;
}

/* .command-line {
  position: relative;
  text-align: center;
  height: 90%;
  width: 40%;
  font-family: Roboto;
  font-size: 7vh;
  caret-color: black;
} */

.letter-box {
  position: relative;
  display: flex;
  margin-top: 2vh;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: rgb(15, 15, 17);
  height: 8vh;
  width: 8vh;
  font-family: Roboto;
  font-size: 6vh;
  border-radius: 1vh;
  color: white;
  box-shadow: 0 0 1vh 1vh grey;
  /* z-index: 10; */
}

.cancel-container {
  display: flex;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -110%);
  justify-content: center;
  align-items: center;
  z-index: 5;
  font-size: 3vh;
  color: beige;
}

.escape-key {
  position: relative;
  display: flex;
  /* margin-top: 2vh; */
  margin-right: 2vh;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: rgb(15, 15, 17);
  height: 4vh;
  width: 8vh;
  font-family: Roboto;
  font-size: 3vh;
  border-radius: 1vh;
  color: white;
  box-shadow: 0 0 1vh 1vh grey;
  /* z-index: 10; */
}

.incorrect-letter {
  color: red;
}

.incorrect-space {
  background-color: red;
  /* opacity: 0.5; */
}

.placeholder {
  opacity: 0;
}

.greyed-out {
  opacity: 0.4;
}

.cursor-highlight {
  background-color: yellow;
  opacity: 0.5;
  color: rgba(0, 0, 0, 0);
}

.hidden {
  display: none;
}
